.layout {
    display: grid;
    padding: 0 8px 0;
    grid-template-rows: 60px 1fr 60px;
    height: 100vh;
}

.headerLayoutSlot {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    align-self: center;
}

.mainLayoutSlot {
    width: 100%;
    margin: 0 auto;
}

.footerLayoutSlot {
    padding: 8px;
    align-self: center;
}

@media screen and (min-width: 900px) {
    .mainLayoutSlot {
        width: 800px;
    }
}