.icon.icon-s {
    width: 15px;
    height: 15px;
}

.icon.icon-m {
    width: 30px;
    height: 30px;
}

.icon.icon-l {
    width: 60px;
    height: 60px;
}

.icon.icon-black {
    fill: black;
}

.icon.icon-blue {
    fill: blue;
}

.icon.icon-orange {
    fill: orange;
}
