.gameList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}

@media screen and (min-width: 768px) {
    .gameList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .gameList {
        grid-template-columns: repeat(3, 1fr);
    }
}